.mat-button {
    min-width: 88px;
    height: 36px;
    margin: 6px 8px;
    user-select: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    outline: none;
    border: 0;
    border-radius: 0;
    transition: .4s cubic-bezier(.4,0,.2,1);
    font-family: inherit;
    line-height: normal;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;

    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .md-button-content {
        color: $button-color;

    }

    &:hover {
        background-color: opacify($base-light-color, .8);

    }

    &:active {
        background-color: opacify($base-pressed-color, 0);
    }
}